<div class="login-form">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        [ngClass]="{'is-invalid': username!.invalid && (username!.dirty || username!.touched)}"
      />
      <div *ngIf="username!.invalid && (username!.dirty || username!.touched)" class="error-message">
        <div *ngIf="username!.errors?.['required']">Username is required.</div>
        <div *ngIf="username!.errors?.['minlength']">Username must be at least 3 characters long.</div>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="{'is-invalid': password!.invalid && (password!.dirty || password!.touched)}"
      />
      <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error-message">
        <div *ngIf="password!.errors?.['required']">Password is required.</div>
        <div *ngIf="password!.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>

    <button type="submit">Login</button>
  </form>
</div>
